@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato';
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
}

/* Global variables */

:root {
  --background-color: hsl(0, 0%, 100%);
  --background-color-hover: hsl(201, 100%, 92%);
  --background-color-shadow: hsl(201, 100%, 92%);
  --light-color: 	hsl(0, 0%, 100%);
  --light-accent: hsl(0, 0%, 90%);
  --light-color-hover: 	hsl(0, 0%, 60%);
  --dark-color: 	hsl(0, 0%, 0%);
  --dark-color-hover: 	hsl(0, 0%, 40%);
}