.screenContainer {
  display: flex;
  justify-content: center;
  align-items: center
}

.loginContainer {
  width: 30%;
  max-width: 500px;
}

.loginTitle {
  text-align: center;
  font-size: 2rem;
}

.registerPrompt {
  font-size: 1em;
  outline: none;
}

.registerPrompt:hover, .registerPrompt:focus {
  text-decoration: underline;
}