.productsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.productsTitle {
  font-size: 2rem;
  margin-bottom: 4rem;
}

.productList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1250px;
  gap: 72px;
}

@media (max-width: 768px) {
  .productList {
    grid-template-columns: repeat(2, 1fr);
  }
}